<table class="table table-striped text-center hidden-xs">
  <tr>
    <th>ID</th>
    <th>类名</th>
    <th>序号</th>
    <!--
    <th>子类列表</th>
    <th>图片</th>
    -->
    <th>操作</th>
  </tr>
  <tr ng-repeat="category in categories track by $index">
    <td>{{category.id}}</td>
    <td>{{category.name}}</td>
    <td>{{category.order || ""}}</td>
    <td>
      <button class="btn btn-warning" ng-show="!category.online"
              ng-click="online(category);$event.stopPropagation()">上线
      </button>
      <button class="btn btn-success" ng-show="category.online"
              ng-click="offline(category);$event.stopPropagation()">下线
      </button>

      <button class="btn btn-warning" data-toggle="modal" data-target="#modify"
              ng-click="openModify(category)">修改
      </button>
      <button class="btn btn-danger" ng-click="remove(category);$event.stopPropagation()">删除</button>
    </td>
  </tr>
</table>
