<div class="header-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-2">
        <a href="#/category/home">
          <i class="fa fa-arrow-left"></i>
        </a>
      </div>
      <div class="col-md-6 col-xs-8">分类搜索</div>
      <div class="col-md-3 col-xs-2"></div>
    </div>
  </div>
</div>

<div class="body-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 col-lg-12">
        <div class="search">
          <input type="text" placeholder="请输入要搜索的分类名"  id="q" ng-model="q" ng-change="search()"/>
          <a class="btn btn-color-egg-red" ng-click="search()">搜索</a>
        </div>
      </div>
    </div>
  </div>
  <div ng-include src="'views/category/search-list.html'"></div>
</div>
<div ng-include src="'views/footer.html'"></div>
