<table class="table table-striped text-center">
        <tr>
                <th>ID</th>
                <th>条码格式</th>
                <th>条码代码</th>
                <th>商品名</th>
                <th>品牌</th>
                <th>描述/介绍</th>
                <th>审核状态</th>
                <th>图片</th>
                <th>操作</th>
        </tr>
        <tr ng-repeat="barcode in barcodes track by $index" class="barcode-remove-{{barcode.id}}">
                <td>{{barcode.barcode.id}}</td>
                <td>{{barcode.barcode.format}}</td>
                <td>{{barcode.barcode.code}}</td>

                <td>{{barcode.merchandise?barcode.merchandise.name: '尚未关联商品'}}</td>
                <th>{{barcode.merchandise?barcode.merchandise.brand: '尚未关联商品'}}</th>
                <th>{{barcode.merchandise?barcode.merchandise.desc: '尚未关联商品'}}</th>
                <td>{{barcode.approved ? '审核通过' : ''}}
                        <button class="btn btn-default btn-xs" ng-show="!barcode.approved" ng-click="openModify(barcode)">请求审核
      </button>
                </td>

                <td><span ng-repeat="image in barcode.barcode.images" class="img-id-{{barcode.barcode.sis[$index]}}"><a
      ng-href="{{image.url}}" target="_blank"><img
      ng-src="{{image.url}}" alt="{{image.hash}}" height="50px"/></a>&nbsp;</span>
                </td>
                <td>
                        <button class="btn btn-warning" ng-show="!barcode.online" ng-click="online(barcode);$event.stopPropagation()">上线
      </button>
                        <button class="btn btn-success" ng-show="barcode.online" ng-click="offline(barcode);$event.stopPropagation()">下线
      </button>
                        <button class="btn btn-info" data-toggle="modal" data-target="#bindMerchandise" ng-click="openBind(barcode)" ng-show="!barcode.bound">绑定
      </button>
                        <button class="btn btn-info" ng-click="unbind(barcode)" ng-show="barcode.bound">解除绑定
      </button>
                        <!--<button class="btn btn-info" data-toggle="modal"-->
                        <!--data-target="#addMerchandise"-->
                        <!--ng-click="openModify(barcode)">添加商品-->
                        <!--</button>-->
                        <button class="btn btn-danger" ng-click="remove(barcode);$event.stopPropagation()">删除</button>
                </td>
        </tr>
</table>