<div class="list list-bar"  ng-repeat="barcode in barcodes track by $index"
     class="barcode-remove-{{barcode.id}}">
  <div class="list-text-item"><span>ID:</span>{{barcode.barcode.id}}</div>
  <div class="list-text-item"><span>条码格式:</span>{{barcode.barcode.format}}</div>
  <div class="list-text-item"><span>条码值:</span>{{barcode.barcode.code}}</div>
<!--
  <div class="list-text-item"><span>商品名:</span>{{barcode.merchandise?barcode.merchandise.name: '尚未关联商品'}}</div>
  <div class="list-text-item"><span>品牌:</span>{{barcode.merchandise?barcode.merchandise.brand: '尚未关联商品'}}</div>
  <div class="list-text-item"><span>描述/介绍:</span>{{barcode.merchandise?barcode.merchandise.desc: '尚未关联商品'}}</div>
  <div class="list-text-item"><span>审核状态:</span>{{barcode.approved ? '审核通过' : ''}}
    <button class="btn btn-default btn-xs" ng-show="!barcode.approved"
            ng-click="openModify(barcode)">请求审核
    </button>
  </div>

  <div class="list-text-item"><span>图片:</span><a ng-repeat="image in barcode.barcode.images"
                class="img-id-{{barcode.barcode.sis[$index]}}"
    ng-href="{{image.url}}" target="_blank"><img
    ng-src="{{image.url}}" alt="{{image.hash}}" height="50px"/></a>&nbsp;
  </div>
  <div class="list-text-item">
    <button class="btn btn-warning" ng-show="!barcode.online"
            ng-click="online(barcode);$event.stopPropagation()">上线
    </button>
    <button class="btn btn-success" ng-show="barcode.online"
            ng-click="offline(barcode);$event.stopPropagation()">下线
    </button>
    <button class="btn btn-info" data-toggle="modal"
            data-target="#bindMerchandise"
            ng-click="openBind(barcode)" ng-show="!barcode.bound">绑定
    </button>
    <button class="btn btn-info"
            ng-click="unbind(barcode)" ng-show="barcode.bound">解除绑定
    </button>
    <button class="btn btn-info">添加
    </button>
    <button class="btn btn-danger" ng-click="remove(barcode);$event.stopPropagation()">删除</button>
  </div> -->
</div>
