<div class="header-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-2"></div>
      <div class="col-md-6 col-xs-8">店长注册</div>
      <div class="col-md-3 col-xs-2"></div>
    </div>
  </div>
</div>

<div class="body-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 col-lg-12">
        <form class="form-horizontal user-register">
          <div class="form-group">
            <label for="username" class="col-xs-2 control-label">账号</label>

            <div class="col-xs-10">
              <input type="text" class="form-control" id="username" placeholder="账号" name="username" ng-model="username" required autofocus>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-xs-2 control-label">密码</label>

            <div class="col-xs-10">
              <input type="password" id="password" class="form-control" name="password" placeholder="密码" ng-model="password" required>
            </div>
          </div>
          <div class="form-group">
            <label for="confirm" class="col-xs-2 control-label">确认</label>

            <div class="col-xs-10">
              <input type="password" name="confirm" class="form-control" id="confirm" placeholder="确认密码" ng-model="confirm" required>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-xs-2 control-label">邮箱</label>

            <div class="col-xs-10">
              <input type="email" class="form-control" id="email" placeholder="邮箱" ng-model="email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="phone" class="col-xs-2 control-label">手机号</label>

            <div class="col-xs-10">
              <input type="phone" class="form-control" id="phone" placeholder="手机号" ng-model="phone">
            </div>
          </div>
          <div class="form-group">
            <label for="phone" class="col-xs-2 control-label"></label>

            <div class="col-xs-12">
              <button class="btn btn-success btn-block" type="submit" ng-click="register()">注册</button>
            </div>
          </div>
        </form>
        <p class="alert-primary visible-xs-block text-left" role="alert">
          已有账号? 马上
          <a class="btn btn-danger btn-xs" href="#/user/login">登录</a>
        </p>
        <p class="alert-primary visible-xs-block text-right" role="alert">
          忘记密码？马上
          <a class="btn btn-default btn-xs" href="#/user/password/retrieve">找回</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- /container -->
<div ng-include src="'views/modal.html'"></div>

<div ng-include src="'views/footer.html'"></div>
