<div class="list list-bar" ng-repeat="sm in merchandises track by $index">
  <div class="list-text-item"><span>ID:</span>{{sm.id}}</div>
  <div class="list-text-item"><span>商品名:</span>{{sm.merchandise.name || '&nbsp;'}}</div>
  <div class="list-text-item"><span>商品描述:</span><br/>{{sm.merchandise.desc || '&nbsp;'}}</div>
  <div class="list-text-item"><span>分类:</span>{{sm.category.name || '&nbsp;'}}</div>
  <div class="list-text-item"><span>图片:</span><img ng-repeat="image in sm.images"
    ng-src="{{image.url}}" alt="{{image.hash}}" class="image-uploader"/></div>
  <div class="list-text-item"><span>价格:</span>¥ {{sm.price | currency}}</div>

  <div class="list-text-item">
    <button class="btn btn-warning" ng-show="!sm.online"
            ng-click="online(sm);$event.stopPropagation()">上线
    </button>
    <button class="btn btn-success" ng-show="sm.online"
            ng-click="offline(sm);$event.stopPropagation()">下线
    </button>

    <a class="btn btn-info visible-xs-inline-block" href="#/merchandise/edit/{{sm.id}}">修改
    </a>
    <button class="btn btn-danger" ng-click="remove(sm);$event.stopPropagation()">删除</button>
  </div>
</div>
