<div class="row">
  <div class="merchandise-mobile-list visible-xs">
    <ul ng-repeat="sm in merchandises track by $index">
      <li><span>ID:</span>{{sm.id}}</li>
      <li><span>商品名:</span>{{sm.merchandise.name}}</li>
      <li><span>商品描述:</span><br/>{{sm.merchandise.desc}}</li>
      <li><span>分类:</span>{{sm.category.name}}</li>
      <li><span>图片:</span><a ng-repeat="image in sm.images"
                             class="imgs{{sm.sis[$index]}}"
                             ng-click="removeImage(sm.merchandise.id, sm.images[$index].id);"
        ><img
        ng-src="{{image.url}}" alt="{{image.hash}}"
        height="50px"/></a><br/></li>
      <li>¥ {{sm.price | currency}}</li>

      <li>
        <button class="btn btn-warning" ng-show="!sm.online"
                ng-click="online(sm);$event.stopPropagation()">上线
        </button>
        <button class="btn btn-success" ng-show="sm.online"
                ng-click="offline(sm);$event.stopPropagation()">下线
        </button>

        <button class="btn btn-info hidden-xs" data-toggle="modal" data-target="#modify"
                ng-click="openModify(sm, sm.sis, sm.images, sm.price)">修改
        </button>
        <a class="btn btn-info visible-xs-inline-block" href="#/merchandise/modify/{{sm.id}}"
           ng-click="openModify(sm, sm.sis, sm.images, sm.price)">修改
        </a>
        <button class="btn btn-danger" ng-click="remove(sm);$event.stopPropagation()">删除</button>
      </li>
    </ul>
  </div>
  <div class="table-responsive hidden-xs">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>商品名</th>
        <th>描述/介绍</th>
        <th>品牌</th>
        <th>分类</th>
        <th>图片</th>
        <th>价格</th>
        <th>操作</th>
      </tr>
      <tr ng-repeat="sm in merchandises track by $index">
        <td>{{sm.id}}</td>
        <td>{{sm.merchandise.name}}</td>
        <td>{{sm.merchandise.desc}}</td>
        <td>{{sm.merchandise.brand}}</td>
        <td>{{sm.category.name}}</td>
        <td><span ng-repeat="image in sm.images"
                  class="imgs{{sm.sis[$index]}}"><a
          ng-click="removeImage(sm.merchandise.id, sm.images[$index].id);"
          ><img
          ng-src="{{image.url}}" alt="{{image.hash}}"
          height="50px"/></a>&nbsp;</span>
        </td>
        <td>{{sm.price | currency}}</td>
        <td>
          <button class="btn btn-warning" ng-show="!sm.online"
                  ng-click="online(sm);$event.stopPropagation()">上线
          </button>
          <button class="btn btn-success" ng-show="sm.online"
                  ng-click="offline(sm);$event.stopPropagation()">下线
          </button>

          <button class="btn btn-info" data-toggle="modal" data-target="#modify"
                  ng-click="openModify(sm, sm.sis, sm.images, sm.price)">修改
          </button>
          <button class="btn btn-danger" ng-click="remove(sm);$event.stopPropagation()">删除</button>
        </td>
      </tr>
    </table>
  </div>
  <div ng-include src="'views/pagination.html'"></div>
