<div class="hidden-xs">
  <div style="margin-top: 8px" class="navbar-left">
    <div class="dropdown navbar-left">
      <button class="btn btn-default dropdown-toggle" type="button" id="category-dropdown"
              data-toggle="dropdown" aria-expanded="true">
        选择订单类型
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="category-dropdown">
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectState()">全部类型</a>
        </li>

        <li role="presentation" ng-repeat="state in states"><a role="menuitem" tabindex="-1"
                                                             ng-click="selectState(state)">{{state.name}}</a>
        </li>
      </ul>
      <div class="navbar-right" style="padding-left: 10px;padding-right: 25px;line-height: 28px;">
        <span class="label label-success selected">{{stateName || '全部类型'}}</span>

      </div>
    </div>
    <div class="dropdown navbar-left">
      <button class="btn btn-default dropdown-toggle" type="button" id="days-dropdown"
              data-toggle="dropdown" aria-expanded="true">
        选择时间段
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="days-dropdown">
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectDays()">全部时间</a>
        </li>

        <li role="presentation" ng-repeat="day in days"><a role="menuitem" tabindex="-1"
                                                           ng-click="selectDays(day)">{{day.name}}</a>
        </li>
      </ul>
      <div class="navbar-right" style="padding-left: 10px;padding-right: 25px;line-height: 28px;">
        <span class="label label-info selected">{{dayName || '全部时间'}}</span>
      </div>
    </div>
  </div>

  <span class="navbar-left" style="line-height: 45px">总量: ({{count}})</span>

  <form class="navbar-form navbar-right">
    <div class="form-group">
      <input type="text" class="form-control form-control-order" id="q" ng-model="q" name="q"
             placeholder="订单搜索(请输入订单号)">
    </div>
    <button type="button" class="btn btn-info search" ng-click="no(q)">订单号查询</button>
    <button type="button" class="btn btn-info search" ng-click="query(q)">搜索订单</button>
  </form>
</div>
