<div class="panel panel-default" ng-repeat="order in orders track by $index">
  <!-- Default panel contents -->
  <div class="panel-heading">订单号:{{order.no}}
    <a target="user-info" href="#/user/info/{{order.user.id}}" style="text-align: right;float: right;">{{order.user.username}}</a>
  </div>
  <div class="panel-body order-summary">
    <p>下单时间：{{order.createdAt | date}}</p>

    <p>接收人：{{order.receiver}}</p>

    <p>联系电话：{{order.phone}}</p>

    <p>送货地址：{{order.address}}</p>

    <p>总数量：{{order.total}}</p>

    <p>总价：{{order.summary | currency}}</p>

    <p class="operation">
      <button class="btn btn-warning btn-xs" disabled ng-show="order.state === 'CANCELLED'">已取消
      </button>
      <button class="btn btn-warning" ng-show="showTransState(order, 'CANCELLED')" ng-click="state(order.id, 'CANCELLED')">取消
      </button>
      <button class="btn btn-success" ng-show="showTransState(order, 'ACCEPTED')" ng-click="state(order.id, 'ACCEPTED')">接单
      </button>
      <button class="btn btn-success" ng-show="showTransState(order, 'DELIVERED')" ng-click="state(order.id, 'DELIVERED')">发货
      </button>
      <button class="btn btn-success" ng-show="showTransState(order, 'FINISHED')" ng-click="state(order.id, 'FINISHED')">完成
      </button>

      <button class="btn btn-default btn-xs" disabled ng-show="showState(order, 'ACCEPTED')">已接单
      </button>
      <button class="btn btn-default btn-xs" disabled ng-show="showState(order, 'PAID')">已支付
      </button>
      <button class="btn btn-default btn-xs" disabled ng-show="showState(order, 'DELIVERED')">已经发货
      </button>
      <button class="btn btn-danger btn-xs" disabled ng-show="showState(order, 'UNREACHABLE')">无法送达
      </button>
      <button class="btn btn-default btn-xs" disabled ng-show="showState(order, 'RECEIVED')">已收货
      </button>
      <button class="btn btn-default btn-xs" disabled ng-show="showState(order, 'COMMENTED')">已评价
      </button>
      <button class="btn btn-default btn-xs" disabled ng-show="showState(order, 'FINISHED')">已完成
      </button>
    </p>
  </div>
  <!-- Table -->
  <table class="table table-striped">
    <tr>
      <th>商品名</th>
      <th>图片</th>
      <th>品牌</th>
      <th>数量</th>
      <th>单价</th>
      <th>优惠价</th>
    </tr>
    <tr ng-repeat="merchandise in order.merchandises">
      <td>{{merchandise.name}}</td>
      <td>
        <a ng-href="{{merchandise.url}}" target="merchandise">
          <img style="width:20px;height: 20px;" ng-src="{{merchandise.url}}" alt="{{merchandise.name}}"/></a>
      </td>
      <td>{{merchandise.brand}}</td>
      <td>{{merchandise.number}}</td>
      <td>¥
        {{merchandise.price | currency}}</td>
      <td>{{merchandise.discount}}</td>
    </tr>
  </table>
</div>
