<div class="header-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-2"></div>
      <div class="col-md-6 col-xs-8">订单</div>
      <div class="col-md-3 col-xs-2"></div>
    </div>
  </div>
</div>

<div class="body-bar">
  <div class="tab-bar">
    <div class="row">
      <div class="col-md-3 col-xs-3" ng-class="{'active': type === 'accepted'}">
        <p>
          <a href="#/order/home">
            待接收
          </a>
        </p>
      </div>
      <div class="col-md-3 col-xs-3" ng-class="{'active': type === 'delivered'}">
        <p>
          <a href="#/order/state/delivered/1">
            已发货
          </p>
        </div>
        <div class="col-md-3 col-xs-3" ng-class="{'active': type === 'finished'}">
          <p>
            <a href="#/order/state/finished/1">
              已完成
            </a>
        </p>
      </div>
      <div class="col-md-3 col-xs-3" ng-class="{'active': type === 'more'}">
        <p>
          <a href="#/order/more">
              更多
            </a>
        </p>
      </div>
    </div>
  </div>
  <div class="list  margin-top">
    <a class="list-select-item" href="#/order/state/created/1">
        新创建订单
      </a>
    <a class="list-select-item" href="#/order/state/paid/1">
        已支付订单
      </a>
    <a class="list-select-item" href="#/order/state/accepted/1">
        已接受订单
      </a>
    <a class="list-select-item" href="#/order/state/delivered/1">
              已发货订单
            </a>
    <a class="list-select-item" href="#/order/state/received/1">
              已签收订单
            </a>
    <a class="list-select-item" href="#/order/state/commented/1">
              已评价订单
            </a>
    <a class="list-select-item" href="#/order/state/cancelled/1">
        已取消订单
      </a>
    <a class="list-select-item" href="#/order/state/finished/1">
          已完成订单
        </a>
  </div>
</div>
<div ng-include src="'views/footer.html'"></div>
