<div ng-include src="'views/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <div ng-include src="'views/sidebar.html'"></div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row mini-header">
        <h4 class="text-center">订阅用户管理<span class="hidden-xs">(总订阅: {{count}})</span></h4>
      </div>
      <div class="row  mobile-main">
        <br/>
        <div class=" table-responsive">
          <table class="table table-striped text-center">
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">用户名</th>
            </tr>
            <tr ng-repeat="item in subscibed">
              <td>{{item.id}}</td>
              <td>{{item.user.username}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div ng-include src="'views/pagination.html'"></div>
  </div>
</div>
<div ng-include src="'views/modal.html'"></div>
